</div>
                                        <div class="_2z25">
                                            <button value="1" class="_42ft _4jy0 _2z21 _4jy6 _4jy1 selected _51sy" id="loginbutton" name="login" tabindex="1" type="submit">{{Đăng nhập}}</button>
                                        </div>
                                        <input type="hidden" autocomplete="off" checked="1" name="persistent" />
                                        <input type="hidden" autocomplete="off" id="default_persistent" name="default_persistent" value="1" />
                                        <div class="_xkv fsm fwn fcg"><a href="https://www.facebook.com/recover/initiate?lwv=100" target="">{{Quên tài khoản?}}</a><span role="presentation" aria-hidden="true"> · </span><a href="https://www.facebook.com/r.php?next&amp;locale=${@LANGUAGE}_${@LANGUAGE}&amp;display=page" rel="nofollow">{{Đăng ký Facebook}}</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <iframe id="u_0_2" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="1" width="1"></iframe>
                        <iframe id="u_0_3" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="1" width="1"></iframe>
                    </div>
                </div>
                