{% block content %}
    <div class="container-fluid mainContentBg">
        <!-- 1.1 TopLine -->
        <div class="header">
            <div class="search"><span class="glyphicon glyphicon-search searchBtn"></span>
                <input class="inputField" id="searchinput" placeholder="Tìm id phòng..." />
            </div>
            <div class="marquee_text">
                <div><span>Tin Hot:</span>
                </div>
                <marquee><a href="http://fbtool.dev/index.php?news=227">Khi ở trạng thái vi diệu 888 những item hot IdolTV trông như thế nào?</a><a href="http://fbtool.dev/index.php?news=226">Duy Minh - Chàng Idol cực chất với bộ ảnh với xe côn tay</a><a href="http://fbtool.dev/index.php?news=225">Lộc bất tận hưởng – Tiêu số 6 nhận ngay báu vật của IdolTV</a>
                </marquee>
            </div>
            <div class="right-area">
                <div class="img-big-header hvr-pop" id="beIdol"></div>
                <div class="online">Đang online: 469
                    <div class="icon"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- 1.2 DataContainer -->
        <div id="dataContainer">
            <!-- 1.2.1 VideoFrame -->
            <div class="video-frame">
                <div class="video-home">
                    <div class="videoplace">
                        <img src="~/facebook/Public/idol/images/videoplaceholder.jpg" />
                    </div>
                    <div class="infor-video">
                        <div class="avata-video"></div>
                        <div class="text-video">
                            <h4>Phòng của Mai Mô</h4>
                            <div class="clear"></div>
                            <p>Vào phòng để tặng quà và giao lưu cùng em anh ơi</p>
                        </div>
                        <div class="icon-btn-vaoluon">
                            <div class="userIcon"></div>
                            <div class="userCount">12311</div><a href="index.html#">vào luôn</a>
                        </div>
                    </div>
                </div>
                <div id="newList" class="info-home"></div>
            </div>
            <div class="clear"></div>
            <!-- 1.2.2 MainIdolList -->
            <div class="box_idol_home">
                <div class="border-title">
                    <div class="title">danh sách idol</div>
                </div>
                <div id="idolList" class="idol-list">
                    <div class="loading">Idol is coming !!!</div>
                </div>
            </div>
            <!-- 1.2.3 BannerBottom -->
            <div class="banner-bottom"><img class="banner-big-home" src="~/facebook/Public/idol/images/banner-big-home.jpg" />
            </div>
        </div>
        <!-- 1.3 MainPageFooter -->
        <div class="footer"> TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC)
            <br> CÔNG TY VTC CÔNG NGHỆ VÀ NỘI DUNG SỐ (VTC INTECOM)
            <br>
            <br> Hà Nội (Trụ sở chính): Tầng 12, Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội
            <br> TP. Đà Nẵng (chi nhánh Văn phòng): 158 Lê Đình Dương, quận Hải Châu, TP. Đà Nẵng
            <br> Tp. Hồ Chí Minh (chi nhánh Văn phòng): 128E Nguyễn Đình Chính, Phường 8, Quận Phú Nhuận, Tp. Hồ Chí Minh
            <br> Hỗ trợ khách hàng: 19001530 | Fax: 04-3636-7728 | Website: <a href="http://hotro.vtc.vn " target="_blank">http://hotro.vtc.vn</a> | FB: <a href="https://www.facebook.com/groups/vtccareplus/" target="_blank">https://www.facebook.com/groups/vtccareplus/</a>
        </div>
        <div class="activeIcon">
            <ul class="fix">
                <li name="1" class="ad1">
                    <a href="javascript:void(0);"></a>
                </li>
                <li name="2" class="ad2">
                    <a href="javascript:void(0);"></a>
                </li>
                <li name="3" class="ad3">
                    <a href="javascript:void(0);"></a>
                </li>
                <li name="4" class="ad4">
                    <a href="javascript:void(0);"></a>
                </li>
                <!--li name="5" class="ad5"><a href="javascript:void(0);"></a></li-->
            </ul>
        </div>
        <div class="fix-right">
            <a href="https://play.google.com/store/apps/details?id=vtc.idoltv" class="icon-download-1"><img src="~/facebook/Public/idol/images/icon-download-1.png">
            </a>
            <div class="clear"></div>
            <a href="https://itunes.apple.com/us/app/idol-tv/id1109342222?ls=1&mt=8"><img src="~/facebook/Public/idol/images/icon-download-2.png">
            </a>
        </div>
        <div style="position: fixed; bottom: 20px; right: 10px;">
            <a href="http://fbtool.dev/index.php?news=26" target="_blank"><img src="~/facebook/Public/vtc/images/calendar5.png">
            </a>
        </div>
    </div>
{% endblock %}    