{% block content %}
	<h1>{{Quản lý bình bầu}}</h1>
	$MESSAGE
	<div class="tool_bar">
		<a class="button" href="/administrator/article/poll/add">{{Thêm mới}}</a>
		<input type="button" value="{{Xóa}}" onclick="submitTask('delete')" />
		<input type="button" value="{{Xuất bản}}" onclick="submitTask('publish')" />
		<input type="button" value="{{Bỏ xuất bản}}" onclick="submitTask('unpublish')" />
	</div>
	
	<div class="rowFirst">
		<div class="colFirst cd"><p><input type="checkbox" onclick="checkAllTask($(this).is(':checked'))" /></p></div>
		<div class="colFirst cd" style="width:3%"><p class="first">ID</p></div>
		<div class="colFirst cd" style="width:40%"><p class="first">{{Tiêu đề}}</p></div>	
		<div class="colFirst cd" style="width:10%"><p class="first">{{Tổng bình bầu}}</p></div>
		<div class="colFirst cd" style="width:8%"><p>{{Xuất bản}}</p></div>		
		<div class="colFirst cd"><p>{{Sửa}}</p></div>			
		<div class="colFirst cd border-right"><p>{{Xóa}}</p></div>				
	</div>		
	
	<form id="adminForm" method="post" action="/administrator/article/poll?order=$order">
	{% for v in list%}
	<div class="row">
		<div class="col cd"><p><input type="checkbox" name="id[]" value="$v.id" /></p></div>	
		<div class="col cd center" style="width:3%"><p><span>$v.id</span></p></div>	
		<div class="col cd" style="width:40%">
			<p class="first">
				<span class="slash">-</span> 
				<a href="/administrator/article/poll/add/$v.id" title="$v.title">
					$v.title	
				</a>
			</p>
		</div>	
		<div class="col cd center" style="width:10%"><p><span>$v.votes_count</span></p></div>
		
		<div class="col cd center" style="width:8%">
			<p class="center">
			{% if v.publish %}
			<input checked="checked" type="checkbox" onclick="submitTask('unpublish','$loop.index0')"/>
			{% else %}
			<input type="checkbox" onclick="submitTask('publish','$loop.index0')"/>
			{% endif %}
			</p>
		</div>				
		<div class="col cd center">
			<p><a href="/administrator/article/poll/add/$v.id"><span class="icon_edit toolbar"></span></a></p>
		</div>	
						
		<div class="col cd center border-right">
			<p><a href="javascript:confirmTask('delete','$loop.index0', '{{Bạn có chắc chắn muốn xóa không? Ấn OK để đồng ý. Ấn Cancel để hủy!}}');"><span class="icon_delete toolbar"></span></a></p>
		</div>	
	</div>
	{% endfor %}
	<input type="hidden" name="task" />
	</form>
	
	<div class="tool_bar">
		<a class="button" href="/administrator/article/poll/add">{{Thêm mới}}</a>
		<input type="button" value="{{Xóa}}" onclick="submitTask('delete')" />
		<input type="button" value="{{Xuất bản}}" onclick="submitTask('publish')" />
		<input type="button" value="{{Bỏ xuất bản}}" onclick="submitTask('unpublish')" />
		<input type="button" value="{{Chọn tất cả}}" onclick="checkAllTask(true)" />
		<input type="button" value="{{Bỏ tất cả}}" onclick="checkAllTask(false)" />
	</div>
	$PAGING	
{% endblock %}