<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8">
</html>
<![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9">
</html>
<![endif]-->
<!--[if !IE]>
<!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Ninenine - Open Source PHP Framework</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="Ninenine - Open Source PHP Framework" name="description" />
        <meta content="${SITE_NAME}" name="author" />
        <link href="themes/admin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="themes/admin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="themes/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="themes/admin/css/style.min.css" rel="stylesheet" />
        <link href="themes/admin/css/style_responsive.css" rel="stylesheet" />
        <link href="themes/admin/css/style_default.css" rel="stylesheet" id="style_color" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body style="background: #eee!important;margin:50px!important">

    <div class="container-fluid">
<div class="row-fluid">
        <div class="span12">

                        <div class="error-page">
                            <img src="themes/admin/img/${err_num}.png" alt="${err_num} error" />
                            <h1>
                                <strong>${err_num}</strong>
                                <br /> Page Not Found </h1>
                                <p>We're sorry, the page you were looking for doesn't exist anymore.</p>
                            </div>
                       
            </div>
    </div>
    </div>   
</body>
</html>	