<div class="row col-md-12 center-block text-left pl-0 mb-20 color-shape">
    <ul class="list-inline pull-left">
    	<li><a href="#" data-type="3" data-shape="square" data-font="fa fa-square" data-size="70"><i style="font-size:30px" class="fa fa-square" aria-hidden="true"></i></a></li>
    	<li><a href="#" data-type="3" data-shape="circle" data-font="fa fa-circle" data-size="70"><i style="font-size:30px" class="fa fa-circle" aria-hidden="true"></i></a></li>    	
    	<li><a href="#" data-type="3" data-shape="heart" data-font="fa fa-heart" data-size="70"><i style="font-size:30px" class="fa fa-heart" aria-hidden="true"></i></a></li>
    	<li><a href="#" data-type="3" data-shape="star" data-font="fa fa-star" data-size="70"><i style="font-size:30px" class="fa fa-star" aria-hidden="true"></i></a></li>
    	<li><a href="#" data-type="3" data-shape="triangle" data-font="fa fa-caret-up" data-size="100"><i style="font-size:50px" class="fa fa-caret-up" aria-hidden="true"></i></a></li>
    	<li><a href="#" data-type="3" data-shape="diamond" data-font="fa fa-diamond" data-size="70"><i style="font-size:30px" class="fa fa-diamond" aria-hidden="true"></i></a></li>
    </ul>

	<div class="checkbox pull-right mt-20">
	  <label><input name="repeat" type="checkbox">Repeat</label>
	</div>
</div>

<div class="row rects">
    {% include "index/ajax/embellishment_color_shape.htm" %}
</div>  
