{% block content %}


    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Camera Scanner Timeline</h1>
        </div>
        <div id="timeline"><div class="row timeline-movement timeline-movement-top">
                <div class="timeline-badge timeline-future-movement">
                    <a href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <div class="timeline-badge timeline-filter-movement">
                    <a href="#">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </div>

            </div>
            <div class="row timeline-movement">

                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">16</span><br/>
                    <span class="timeline-balloon-date-month">FEB</span>
                </div>


                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Hoàn thiện tính năng cơ bản</span></li>
                                    <li><span class="causale">Có các tính năng cơ bản như chụp tài liệu, quản lý tài liệu chụp. </span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 16/02/2016</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Hoàn thiện các màn hình cơ bản</span></li>
                                    <li><span class="causale">Có các màn hình liên quan như sửa tên tài liệu, sửa thông tin gửi mail. </span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 16/02/2016</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--due -->

            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">18</span><br/>
                    <span class="timeline-balloon-date-month">FEB</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Sửa lỗi các tính năng cơ bản</span></li>
                                    <li><span class="causale">Sửa lại các lỗi phản hồi. </span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 18/02/2016</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Hoàn thiện các trải nghiệm cơ bản tốt hơn</span></li>
                                    <li><span class="causale">Ví dụ như tính năng thay đổi vùng cắt ảnh có thể cho phép phóng to. </span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 18/02/2016</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">21</span><br/>
                    <span class="timeline-balloon-date-month">FEB</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Gửi bản đã được hoàn thiện và làm bản Android</span></li>
                                    <li><span class="causale">Bản cơ bản này là bản dùng được và có trải nghiệm tốt. </span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 21/02/2016</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Hoàn thiện bản Android</span></li>
                                    <li><span class="causale">Bản Android sẽ được làm trên tinh thần tham chiếu theo bản IOS. </span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 01/03/2016</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}    