{% block content %}
    
    <div class="col-md-4">
    <iframe src="https://appetize.io/embed/0jeteda9xhg71qcc6gpdxvnykm?device=iphone6splus&scale=50&autoplay=true&orientation=portrait&deviceColor=black" width="345px" height="710px" frameborder="0" scrolling="no"></iframe>
    </div>
    
    <div clas="col-md-4">
        <iframe src="https://appetize.io/embed/vqpd80pfzcmub8m48khehcw9f0?device=iphone6splus&scale=50&autoplay=false&orientation=portrait&deviceColor=black" width="345px" height="710px" frameborder="0" scrolling="no"></iframe>
        
    </div>
    
    {#<div class="col-md-2">
       
    <video width="320" height="240" controls>
  <source src="http://redirector.googlevideo.com/videoplayback?id=o-ANchR-MdDAk2pBmtAtyVoE04BDbjvqueco-l_ofS3Ty2&initcwndbps=916250&pl=20&dur=2256.027&mime=video/mp4&signature=9ECBDB27A5E196661B715C9A17B795267A88E506.9C0D53D5164BEBEFBA8E065FC49D0AEAE9841E18&ms=au&source=youtube&mv=m&ipbits=0&mm=31&mn=sn-8pxuuxa-i5oel&itag=18&ratebypass=yes&fexp=9408087,9415515,9416126,9417204,9420452,9421510,9422596,9423661,9423662,9425399,9425545,9427119,9427325,9427672,9428028,9428702,9429224,9429547&mt=1455892935&key=yt6&sver=3&sparams=dur,id,initcwndbps,ip,ipbits,itag,lmt,mime,mm,mn,ms,mv,pcm2cms,pl,ratebypass,source,upn,expire&pcm2cms=yes&expire=1455914649&lmt=1412223776531301&ip=117.1.137.34&upn=d4d6ygZVv90&signature=&title=Efren-Reyes-vs-Radoslaw-Babica---2006-World-9-ball-Championship" type="video/mp4">
  Your browser does not support the video tag.
</video>
    </div>#}
{% endblock %}    