<data>
<message><![CDATA[${MESSAGE}]]></message>
<sEcho>$output.sEcho</sEcho>
<iTotalRecords>$output.iTotalRecords</iTotalRecords>
<iTotalDisplayRecords>$output.iTotalDisplayRecords</iTotalDisplayRecords>
<aaData><![CDATA[
{% for v in output.aaData %}
 <tr>
     <td>
         <input type="checkbox" class="checkboxes" value="1" />
     </td>
     
     <td>${v.id|control(v.title,'Edit,Delete','action')}</td>
     <td>   
          <div class="thumbnail">
       
        
 	   		<img onerror="this.src='themes/admin/img/no-image.gif'" 
					    src="$v.image" alt="" />
                       
	   </div>
     
     </td>
     <td>$v.message</td>
     <td>${v.publish|control('','publish','toggle-button','checked=1', 'width=70')}</td>
 </tr>
 {% endfor %}]]>
 </aaData>
 </data>